In [1]:
# Create a DB

db = {101:{"Name": "apple", "Quantity": 10, "Price": 50},
 102:{"Name": "orange", "Quantity": 20, "Price": 25},}

In [2]:
db

{101: {'Name': 'apple', 'Quantity': 10, 'Price': 50},
 102: {'Name': 'orange', 'Quantity': 20, 'Price': 25}}

In [3]:
# Add a product to DB
db[103] = {"Name": "Banana", "Quantity": 30, "Price": 10}

In [4]:
db

{101: {'Name': 'apple', 'Quantity': 10, 'Price': 50},
 102: {'Name': 'orange', 'Quantity': 20, 'Price': 25},
 103: {'Name': 'Banana', 'Quantity': 30, 'Price': 10}}

In [5]:
# Reducing Quantity
db[101]

{'Name': 'apple', 'Quantity': 10, 'Price': 50}

In [6]:
db[101]["Quantity"]

10

In [7]:
db[101]["Quantity"]-2

8

In [8]:
db[101]['Quantity']= db[101]["Quantity"]-2

In [9]:
db

{101: {'Name': 'apple', 'Quantity': 8, 'Price': 50},
 102: {'Name': 'orange', 'Quantity': 20, 'Price': 25},
 103: {'Name': 'Banana', 'Quantity': 30, 'Price': 10}}

In [10]:
# Deleting a Record
db[103]

{'Name': 'Banana', 'Quantity': 30, 'Price': 10}

In [11]:
del db[103]

In [12]:
db

{101: {'Name': 'apple', 'Quantity': 8, 'Price': 50},
 102: {'Name': 'orange', 'Quantity': 20, 'Price': 25}}

In [13]:
# Raja Sir, wants to buy 2 apples and 2 oranges.

In [14]:
# Quantity check
db[101]['Quantity'] >= 2

True

In [15]:
db[102]['Quantity'] >= 2

True

In [16]:
# print bill
# apple
2* db[101]["Price"]

100

In [17]:
# Orange
2* db[102]["Price"]

50

In [18]:
# Total Bill
2* db[101]["Price"] + 2* db[102]["Price"]

150

In [19]:
# Updating the Inventory
db[101]["Quantity"] = db[101]["Quantity"] -2

In [20]:
db

{101: {'Name': 'apple', 'Quantity': 6, 'Price': 50},
 102: {'Name': 'orange', 'Quantity': 20, 'Price': 25}}